/* Fonts buttons */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap'); 

/* General Buttons */
#buttons button, #play-button, #how-to-play-button, #start-button, #play-again-button, #go-to-start-button, #back-to-game-button {
  width: 100px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Carter One", sans-serif;
  font-size: 18px;
  color: black;
  background-color: #EFEFEF;
}

/* How to play and start buttons */
#how-to-play-button, #start-button {
  width: 140px;
  margin-bottom: 3px;
}

#start-button {
  margin-top: 10px;
}

/* Odds & Evens buttons */
#buttons {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  border: 7px solid white;
}

/* Play button */
#play-button-container {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 7px solid white;
  padding: 5px 0 5px 0;
}

/* Buttons end of the game */
#end-game-buttons-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#play-again-button, #go-to-start-button {
  width: 130px;
}

#back-to-game-button {
  width: 200px;
}

/* Hover button style */
#start-button:hover,#odds-button:hover, #evens-button:hover,#play-button:active, #play-again-button:hover, #go-to-start-button:hover, #how-to-play-button:hover, #back-to-game-button:hover {
  background-color: black;
  color: white;
}