/* Main game area */
#matt-blanket {
  width: 100vw;
  height: max(920px, 100vh);
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 3;
  background-color: white;
}

#number-display-container-1  {
  background-color: #320d6d;
  border: 7px solid white;
  margin-bottom: -3.5px;
}

#number-display-container-2  {
  background-color: #ffd447;
  border: 7px solid white;
  margin-top: -3.5px;
}

#number-display-container-1,#number-display-container-2, #buttons, #img-numbers, #play-button-container, footer {
  width: 450px;
}

#number-display-container-1,#number-display-container-2  {
  height: 50%;
  text-align: center;
}

#pc-player, #pc-score,#you-player, #you-score {
  position: relative;
  width: 130px;
  left: 317px;
  text-align: center;
  color: white;
  margin: 0;
}

#pc-player, #you-player {
  font-size: 25px;
}

@media only screen and (max-width: 480px) {
  
  header h1 {
    font-size: 35px;
  }

  #window-submit-max-score,#countdown-container,#sum-display-container, #scores-display-container,#end-game, #number-display-container {
    transform: scale(0.7);
  }

  #buttons, #img-numbers, #play-button-container, .footer {
    transform: scale(0.7);
  }

  #window-submit-max-score {
    margin-top: -75px;
  }

  #countdown-container, #sum-display-container, #scores-display-container, #end-game{
    margin-top: -75px;
  }

  #number-display-container-1 {
    margin-top: -77px;
  }

  #buttons, #img-numbers, #play-button-container, .footer {
    position: relative;
  }

  #buttons {
    top: -65px;
  }

  #img-numbers {
    top: -95px;
  }

  #play-button-container {
    top: -125px;
  }

  .footer {
    top: -155px;
  }
}