/* General rule */
#window-submit-max-score,#countdown-container, #sum-display-container,#scores-display-container, #end-game {
  display: flex;
  width: 400px;
  height: 240px;
  position: absolute;
  top: 170px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
}

#sum-display-container h3, #scores-display-container h3, #end-game h3 {
  font-size: 35px;
  text-transform: uppercase;
  margin: auto 0;
}

/* Window submit max score */
#window-submit-max-score label {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 32px;
  margin-top: 25px;
}

#window-submit-max-score {
  z-index: 5;
}

#max-score {
  margin: 22px 0;
  width: 50px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
}

#game-screen-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* Window showing sum, odds or even, who wins */
#sum-display-container {
  z-index: 1;
  opacity: 0;
}

/* Window showing scores */
#scores-display-container {
  z-index: 2;
  opacity: 0;
}

/* end game window */
#end-game {
  z-index: 4;
  opacity: 0;
}

/* countdown window */
#countdown-container {
  opacity: 0;
  z-index: 3;
}

#countdown-container h2{
  font-size: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#countdown-three, #countdown-two, #countdown-one, #countdown-shoot {
  position: absolute;
  top: -20px;
}

#countdown-two, #countdown-one, #countdown-shoot {
  opacity: 0;
}

