/* General rule */
#window-submit-max-score, #sum-display-container,#scores-display-container, #end-game {
  display: flex;
  width: 400px;
  height: 240px;
  position: absolute;
  top: 170px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  
  /* visibility: hidden; */
}

/* Window submit max score */
#window-submit-max-score label {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 32px;
  margin-top: 25px;
}

#window-submit-max-score {
  z-index: 5;

  /* visibility: hidden; */
}

#max-score {
  margin: 22px 0;
  width: 50px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
}

/* Window showing sum, odds or even, who wins */
#sum-display-container {
  z-index: 1;
  opacity: 0;
}


/* Window showing scores */
#scores-display-container {
  visibility: hidden;
}


/* end game window */
#end-game {
  visibility: hidden;
}